<%page args="grade_summary, **kwargs"/>
<%!
  from django.utils.translation import ugettext as _
%>
<div class="grade-category-detail">
  <table class="grade-category-detail-table">
    <thead>
      <tr>
        <th scope="row">${'Category'}</th>
      %for section in grade_summary['grade_breakdown']:
        <td scope="col">${section['category']}</td>
      %endfor
        <td scope="col">${_('Total')}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">${'Status'}</th>
      %for section in grade_summary['grade_breakdown']:
        %if section['pass']:
          <td class="pass">${_('Pass')}</td>
        %else:
          <td class="fail">${_('Not passed')}</td>
        %endif
      %endfor
      %if grade_summary['pass']:
        <td class="pass">${_('Pass')}</td>
      %else:
        <td class="fail">${_('Not passed')}</td>
      %endif
      </tr>
    </tbody>
  </table>
</div>
